In [55]:
!pip install polars autopep8
import polars as pl

Requirement already satisfied: polars in /opt/conda/lib/python3.11/site-packages (0.20.21)
Collecting autopep8
  Downloading autopep8-2.1.0-py2.py3-none-any.whl.metadata (16 kB)
Collecting pycodestyle>=2.11.0 (from autopep8)
  Downloading pycodestyle-2.11.1-py2.py3-none-any.whl.metadata (4.5 kB)
Downloading autopep8-2.1.0-py2.py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 732.0 kB/s eta 0:00:00a 0:00:01
Downloading pycodestyle-2.11.1-py2.py3-none-any.whl (31 kB)
Installing collected packages: pycodestyle, autopep8
Successfully installed autopep8-2.1.0 pycodestyle-2.11.1

#　前処理大全

## 13-1

In [23]:
df_customer = pl.read_csv('./data/customer.csv')
df_hotel = pl.read_csv('./data/hotel.csv')
df_reserve = pl.read_csv('./data/reserve.csv')

In [115]:
df_joined = df_reserve.join(df_hotel, on='hotel_id').join(df_customer, on='customer_id')
df_joined

shape: (4_030, 19)
┌────────────┬──────────┬─────────────┬──────────────┬───┬─────┬───────┬─────────────┬─────────────┐
│ reserve_id ┆ hotel_id ┆ customer_id ┆ reserve_date ┆ … ┆ age ┆ sex   ┆ home_latitu ┆ home_longit │
│ ---        ┆ ---      ┆ ---         ┆ time         ┆   ┆ --- ┆ ---   ┆ de          ┆ ude         │
│ str        ┆ str      ┆ str         ┆ ---          ┆   ┆ i64 ┆ str   ┆ ---         ┆ ---         │
│            ┆          ┆             ┆ str          ┆   ┆     ┆       ┆ f64         ┆ f64         │
╞════════════╪══════════╪═════════════╪══════════════╪═══╪═════╪═══════╪═════════════╪═════════════╡
│ r1         ┆ h_75     ┆ c_1         ┆ 2016-03-06   ┆ … ┆ 41  ┆ man   ┆ 35.092193   ┆ 136.512347  │
│            ┆          ┆             ┆ 13:09:42     ┆   ┆     ┆       ┆             ┆             │
│ r2         ┆ h_219    ┆ c_1         ┆ 2016-07-16   ┆ … ┆ 41  ┆ man   ┆ 35.092193   ┆ 136.512347  │
│            ┆          ┆             ┆ 23:39:55     ┆   ┆     ┆       ┆             ┆             │
│ r3         ┆ h_179    ┆ c_1         ┆ 2016-09-24   ┆ … ┆ 41  ┆ man   ┆ 35.092193   ┆ 136.512347  │
│            ┆          ┆             ┆ 10:03:17     ┆   ┆     ┆       ┆             ┆             │
│ r4         ┆ h_214    ┆ c_1         ┆ 2017-03-08   ┆ … ┆ 41  ┆ man   ┆ 35.092193   ┆ 136.512347  │
│            ┆          ┆             ┆ 03:20:10     ┆   ┆     ┆       ┆             ┆             │
│ r5         ┆ h_16     ┆ c_1         ┆ 2017-09-05   ┆ … ┆ 41  ┆ man   ┆ 35.092193   ┆ 136.512347  │
│            ┆          ┆             ┆ 19:50:37     ┆   ┆     ┆       ┆             ┆             │
│ …          ┆ …        ┆ …           ┆ …            ┆ … ┆ …   ┆ …     ┆ …           ┆ …           │
│ r4026      ┆ h_129    ┆ c_999       ┆ 2017-06-27   ┆ … ┆ 48  ┆ woman ┆ 38.1728     ┆ 140.464198  │
│            ┆          ┆             ┆ 23:00:02     ┆   ┆     ┆       ┆             ┆             │
│ r4027      ┆ h_97     ┆ c_999       ┆ 2017-09-29   ┆ … ┆ 48  ┆ woman ┆ 38.1728     ┆ 140.464198  │
│            ┆          ┆             ┆ 05:24:57     ┆   ┆     ┆       ┆             ┆             │
│ r4028      ┆ h_27     ┆ c_999       ┆ 2018-03-14   ┆ … ┆ 48  ┆ woman ┆ 38.1728     ┆ 140.464198  │
│            ┆          ┆             ┆ 05:01:45     ┆   ┆     ┆       ┆             ┆             │
│ r4029      ┆ h_48     ┆ c_1000      ┆ 2016-04-16   ┆ … ┆ 39  ┆ man   ┆ 35.452412   ┆ 139.41131   │
│            ┆          ┆             ┆ 15:20:17     ┆   ┆     ┆       ┆             ┆             │
│ r4030      ┆ h_117    ┆ c_1000      ┆ 2016-06-06   ┆ … ┆ 39  ┆ man   ┆ 35.452412   ┆ 139.41131   │
│            ┆          ┆             ┆ 08:16:51     ┆   ┆     ┆       ┆             ┆             │
└────────────┴──────────┴─────────────┴──────────────┴───┴─────┴───────┴─────────────┴─────────────┘

In [124]:
df_joined['total_price'].median()

64800.0

In [164]:
df_joined_with_age_group = df_joined.with_columns(
    pl.when( pl.col('age') <= 60 )
    .then( pl.col('age') // 10 )
    .otherwise( 7 )
    .alias('age_group')
)

total_stat = df_joined_with_age_group.group_by('age_group').agg([
    ((pl.col('age_group').mean()*10).cast(pl.Int16).cast(pl.String) + '代').alias('年齢グループ'),
    pl.col('people_num').sum().alias('該当人数'),
    pl.col('age_group').len().alias('合計予約回数'),
    pl.col('people_num').mean().alias('平均予約人数'),
    (pl.col('total_price').sum() / pl.col('total_price').len()).alias('平均予約単価'),
])

result = total_stat.sort('年齢グループ').drop('age_group')

result

shape: (6, 5)
┌──────────────┬──────────┬──────────────┬──────────────┬───────────────┐
│ 年齢グループ ┆ 該当人数 ┆ 合計予約回数 ┆ 平均予約人数 ┆ 平均予約単価  │
│ ---          ┆ ---      ┆ ---          ┆ ---          ┆ ---           │
│ str          ┆ i64      ┆ u32          ┆ f64          ┆ f64           │
╞══════════════╪══════════╪══════════════╪══════════════╪═══════════════╡
│ 20代         ┆ 226      ┆ 87           ┆ 2.597701     ┆ 121602.298851 │
│ 30代         ┆ 2522     ┆ 978          ┆ 2.578732     ┆ 104611.042945 │
│ 40代         ┆ 2541     ┆ 1009         ┆ 2.518335     ┆ 101928.444004 │
│ 50代         ┆ 1599     ┆ 638          ┆ 2.50627      ┆ 100815.047022 │
│ 60代         ┆ 174      ┆ 77           ┆ 2.25974      ┆ 95094.805195  │
│ 70代         ┆ 3183     ┆ 1241         ┆ 2.564867     ┆ 103125.463336 │
└──────────────┴──────────┴──────────────┴──────────────┴───────────────┘